<div>

    <mat-toolbar color="primary" class="header">

        <button mat-icon-button>
            <mat-icon>view_list</mat-icon>
        </button>

        <span>My Table</span>
        <span class="spacer"></span>

        <button mat-icon-button>
            <mat-icon>share</mat-icon>
        </button>

    </mat-toolbar>

    <div style="margin-top: 25px;">

        <div>
            <b style="margin-left: 15px;font-size: x-large;font-style: italic;">
                Money Hiest Characters :
            </b>
        </div>

        <br>

        <div>
            <table mat-table [dataSource]="filtredCharacters" class="mat-elevation-z8">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>
                        <div fxLayout="row">
                            <div fxLayout="column">
                                <div class="header-name">
                                    No.
                                </div>
                                <div *ngIf="searchValue.id">
                                    <span *ngIf="isIdApplied" class="filter-heading">{{searchValue.id}}
                                    </span>
                                </div>
                            </div>
                            <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                                <mat-icon>keyboard_arrow_down</mat-icon>
                            </button>
                            <mat-menu #menu>
                                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
                                    No.
                                </div>

                                <div mat-menu-item [disableRipple]="true">
                                    <mat-form-field>
                                        <input matInput (keyup.enter)="applyFilter($event);"
                                            (click)="$event.stopPropagation()" placeholder="Value"
                                            (ngModelChange)="clearFilterApplied('id')" [(ngModel)]="searchValue.id">
                                    </mat-form-field>
                                </div>

                                <div mat-menu-item [disableRipple]="true">
                                    <button mat-filter-item mat-raised-button (click)="clearColumn('id')">Clear</button>
                                    <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
                                </div>
                            </mat-menu>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>
                        <div fxLayout="row">
                            <div fxLayout="column">
                                <div class="header-name">
                                    Name
                                </div>
                                <div *ngIf="searchValue.name">
                                    <span *ngIf="isNameApplied" class="filter-heading">{{searchValue.name}}
                                    </span>
                                </div>
                            </div>
                            <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                                <mat-icon>keyboard_arrow_down</mat-icon>
                            </button>
                            <mat-menu #menu>
                                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
                                    Name
                                </div>

                                <div mat-menu-item [disableRipple]="true">
                                    <mat-form-field>
                                        <input matInput (keyup.enter)="applyFilter($event);"
                                            (click)="$event.stopPropagation()" placeholder="Value"
                                            (ngModelChange)="clearFilterApplied('name')" [(ngModel)]="searchValue.name">
                                    </mat-form-field>
                                </div>

                                <div mat-menu-item [disableRipple]="true">
                                    <button mat-filter-item mat-raised-button
                                        (click)="clearColumn('name')">Clear</button>
                                    <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
                                </div>
                            </mat-menu>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="character">
                    <th mat-header-cell *matHeaderCellDef>
                        <div fxLayout="row">
                            <div fxLayout="column">
                                <div class="header-name">
                                    Character
                                </div>
                                <div *ngIf="searchValue.character">
                                    <span *ngIf="isCharacterApplied" class="filter-heading">{{searchValue.character}}
                                    </span>
                                </div>
                            </div>
                            <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                                <mat-icon>keyboard_arrow_down</mat-icon>
                            </button>
                            <mat-menu #menu>
                                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
                                    Character
                                </div>

                                <div mat-menu-item [disableRipple]="true">
                                    <mat-form-field>
                                        <input matInput (keyup.enter)="applyFilter($event);"
                                            (click)="$event.stopPropagation()" placeholder="Value"
                                            (ngModelChange)="clearFilterApplied('character')"
                                            [(ngModel)]="searchValue.character">
                                    </mat-form-field>
                                </div>

                                <div mat-menu-item [disableRipple]="true">
                                    <button mat-filter-item mat-raised-button
                                        (click)="clearColumn('character')">Clear</button>
                                    <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
                                </div>
                            </mat-menu>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.character}} </td>
                </ng-container>

                <ng-container matColumnDef="played_by">
                    <th mat-header-cell *matHeaderCellDef>
                        <div fxLayout="row">
                            <div fxLayout="column">
                                <div class="header-name">
                                    Played By
                                </div>
                                <div *ngIf="searchValue.played_by">
                                    <span *ngIf="isPlayedBy" class="filter-heading">{{searchValue.played_by}}
                                    </span>
                                </div>
                            </div>
                            <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                                <mat-icon>keyboard_arrow_down</mat-icon>
                            </button>
                            <mat-menu #menu>
                                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
                                    Played By
                                </div>

                                <div mat-menu-item [disableRipple]="true">
                                    <mat-form-field>
                                        <input matInput (keyup.enter)="applyFilter($event);"
                                            (click)="$event.stopPropagation()" placeholder="Value"
                                            (ngModelChange)="clearFilterApplied('played_by')"
                                            [(ngModel)]="searchValue.played_by">
                                    </mat-form-field>
                                </div>

                                <div mat-menu-item [disableRipple]="true">
                                    <button mat-filter-item mat-raised-button
                                        (click)="clearColumn('played_by')">Clear</button>
                                    <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
                                </div>
                            </mat-menu>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.played_by}} </td>
                </ng-container>

                <ng-container matColumnDef="occupation">
                    <th mat-header-cell *matHeaderCellDef>
                        <div fxLayout="row">
                            <div fxLayout="column">
                                <div class="header-name">
                                    Occupation
                                </div>
                                <div *ngIf="searchValue.occupation">
                                    <span *ngIf="isPlayedBy" class="filter-heading">{{searchValue.occupation}}
                                    </span>
                                </div>
                            </div>
                            <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                                <mat-icon>keyboard_arrow_down</mat-icon>
                            </button>
                            <mat-menu #menu>
                                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
                                    Occupation
                                </div>

                                <div mat-menu-item [disableRipple]="true">
                                    <mat-form-field>
                                        <input matInput (keyup.enter)="applyFilter($event);"
                                            (click)="$event.stopPropagation()" placeholder="Value"
                                            (ngModelChange)="clearFilterApplied('occupation')"
                                            [(ngModel)]="searchValue.occupation">
                                    </mat-form-field>
                                </div>

                                <div mat-menu-item [disableRipple]="true">
                                    <button mat-filter-item mat-raised-button
                                        (click)="clearColumn('occupation')">Clear</button>
                                    <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
                                </div>
                            </mat-menu>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.occupation}} </td>
                </ng-container>

                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef>
                        <div fxLayout="row">
                            <div fxLayout="column">
                                <div class="header-name">
                                    Gender
                                </div>
                                <div *ngIf="searchValue.occupation">
                                    <span *ngIf="isGenderApplied" class="filter-heading">{{searchValue.gender}}
                                    </span>
                                </div>
                            </div>
                            <button mat-button class="btn-toggle" [matMenuTriggerFor]="menu">
                                <mat-icon>keyboard_arrow_down</mat-icon>
                            </button>
                            <mat-menu #menu>
                                <div mat-menu-item mat-filter-item [disableRipple]="true" class="menu-title">
                                    Gender
                                </div>

                                <div mat-menu-item [disableRipple]="true">
                                    <mat-form-field>
                                        <input matInput (keyup.enter)="applyFilter($event);"
                                            (click)="$event.stopPropagation()" placeholder="Value"
                                            (ngModelChange)="clearFilterApplied('gender')"
                                            [(ngModel)]="searchValue.gender">
                                    </mat-form-field>
                                </div>

                                <div mat-menu-item [disableRipple]="true">
                                    <button mat-filter-item mat-raised-button
                                        (click)="clearColumn('gender')">Clear</button>
                                    <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
                                </div>
                            </mat-menu>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                </ng-container>

                <tr style="background-color: lightgrey;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

    </div>

    <mat-toolbar color="primary" class="footer">

        <span class="spacer"></span>

        <button mat-icon-button>
            <mat-icon>copyright</mat-icon>
        </button>

        <span>Saurabh Gandhi</span>
    </mat-toolbar>

</div>